@media (max-width: 991px){

    body{

        &.ltr{

            & .sidebar{
                transform: translateX(-100%);

                & .sidebar-content{
                    border-radius: 0 !important;
                }
            }

        }

    }

    .sidebar{
        opacity: 0;
        padding: 0 0 0 0 !important;
        transform: translateX(100%);
        max-width: 19rem;
        width: 100%;
        height: 100vh;
        top: 0;

        &.show{
            opacity: 1;
            transform: translateX(0) !important;

            & .sidebar-content{
                border-radius: 0 !important;
            }

        }
    }

}

@media (max-width: 325px){

    .sidebar{

        & .sidebar-content{
        
            & .close-sidebar-menu-btn{
                display: flex !important;
                user-select: none;
                cursor: pointer;

                & .line {
                    fill: none;
                    stroke: $dark-color-2;
                    stroke-width: 6;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }

                & .line1 {
                    stroke-dasharray: 90 207 !important;
                    stroke-dashoffset: -134 !important;
                    stroke-width: 6 !important;
                }
                
                & .line2 {
                    stroke-dasharray: 1 60 !important;
                    stroke-dashoffset: -30 !important;
                    stroke-width: 6 !important;
                }

                & .line3 {
                    stroke-dasharray: 90 207 !important;
                    stroke-dashoffset: -134 !important;
                    stroke-width: 6 !important;
                }

            }
    
        }

    }

}