@import "../variables";


//------------------------------ Red ------------------------------//
.text-red-dark-4 {
    color: $custom-color-red-dark-4 !important;
}
.text-red-dark-3 {
    color: $custom-color-red-dark-3 !important;
}
.text-red-dark-2 {
    color: $custom-color-red-dark-2 !important;
}
.text-red-dark-1 {
    color: $custom-color-red-dark-1 !important;
}
.text-red-medium {
    color: $custom-color-red-medium !important;
}
.text-red-light-1 {
    color: $custom-color-red-light-1 !important;
}
.text-red-light-2 {
    color: $custom-color-red-light-2 !important;
}
.text-red-light-3 {
    color: $custom-color-red-light-3 !important;
}
.text-red-light-4 {
    color: $custom-color-red-light-4 !important;
}
.text-red-light-5 {
    color: $custom-color-red-light-5 !important;
}


//------------------------------ Blue ------------------------------//
.text-blue-dark-4 {
    color: $custom-color-blue-dark-4 !important;
}
.text-blue-dark-3 {
    color: $custom-color-blue-dark-3 !important;
}
.text-blue-dark-2 {
    color: $custom-color-blue-dark-2 !important;
}
.text-blue-dark-1 {
    color: $custom-color-blue-dark-1 !important;
}
.text-blue-medium {
    color: $custom-color-blue-medium !important;
}
.text-blue-light-1 {
    color: $custom-color-blue-light-1 !important;
}
.text-blue-light-2 {
    color: $custom-color-blue-light-2 !important;
}
.text-blue-light-3 {
    color: $custom-color-blue-light-3 !important;
}
.text-blue-light-4 {
    color: $custom-color-blue-light-4 !important;
}
.text-blue-light-5 {
    color: $custom-color-blue-light-5 !important;
}


//------------------------------ Cyan ------------------------------//
.text-cyan-dark-4 {
    color: $custom-color-cyan-dark-4 !important;
}
.text-cyan-dark-3 {
    color: $custom-color-cyan-dark-3 !important;
}
.text-cyan-dark-2 {
    color: $custom-color-cyan-dark-2 !important;
}
.text-cyan-dark-1 {
    color: $custom-color-cyan-dark-1 !important;
}
.text-cyan-medium {
    color: $custom-color-cyan-medium !important;
}
.text-cyan-light-1 {
    color: $custom-color-cyan-light-1 !important;
}
.text-cyan-light-2 {
    color: $custom-color-cyan-light-2 !important;
}
.text-cyan-light-3 {
    color: $custom-color-cyan-light-3 !important;
}
.text-cyan-light-4 {
    color: $custom-color-cyan-light-4 !important;
}
.text-cyan-light-5 {
    color: $custom-color-cyan-light-5 !important;
}


//----------------------------- Orange -----------------------------//
.text-orange-dark-4 {
    color: $custom-color-orange-dark-4 !important;
}
.text-orange-dark-3 {
    color: $custom-color-orange-dark-3 !important;
}
.text-orange-dark-2 {
    color: $custom-color-orange-dark-2 !important;
}
.text-orange-dark-1 {
    color: $custom-color-orange-dark-1 !important;
}
.text-orange-medium {
    color: $custom-color-orange-medium !important;
}
.text-orange-light-1 {
    color: $custom-color-orange-light-1 !important;
}
.text-orange-light-2 {
    color: $custom-color-orange-light-2 !important;
}
.text-orange-light-3 {
    color: $custom-color-orange-light-3 !important;
}
.text-orange-light-4 {
    color: $custom-color-orange-light-4 !important;
}
.text-orange-light-5 {
    color: $custom-color-orange-light-5 !important;
}


//----------------------------- Purple -----------------------------//
.text-purple-dark-4 {
    color: $custom-color-purple-dark-4 !important;
}
.text-purple-dark-3 {
    color: $custom-color-purple-dark-3 !important;
}
.text-purple-dark-2 {
    color: $custom-color-purple-dark-2 !important;
}
.text-purple-dark-1 {
    color: $custom-color-purple-dark-1 !important;
}
.text-purple-medium {
    color: $custom-color-purple-medium !important;
}
.text-purple-light-1 {
    color: $custom-color-purple-light-1 !important;
}
.text-purple-light-2 {
    color: $custom-color-purple-light-2 !important;
}
.text-purple-light-3 {
    color: $custom-color-purple-light-3 !important;
}
.text-purple-light-4 {
    color: $custom-color-purple-light-4 !important;
}
.text-purple-light-5 {
    color: $custom-color-purple-light-5 !important;
}


//------------------------------ Green -----------------------------//
.text-green-dark-4 {
    color: $custom-color-green-dark-4 !important;
}
.text-green-dark-3 {
    color: $custom-color-green-dark-3 !important;
}
.text-green-dark-2 {
    color: $custom-color-green-dark-2 !important;
}
.text-green-dark-1 {
    color: $custom-color-green-dark-1 !important;
}
.text-green-medium {
    color: $custom-color-green-medium !important;
}
.text-green-light-1 {
    color: $custom-color-green-light-1 !important;
}
.text-green-light-2 {
    color: $custom-color-green-light-2 !important;
}
.text-green-light-3 {
    color: $custom-color-green-light-3 !important;
}
.text-green-light-4 {
    color: $custom-color-green-light-4 !important;
}
.text-green-light-5 {
    color: $custom-color-green-light-5 !important;
}


//------------------------------ Pink -----------------------------//
.text-pink-dark-4 {
    color: $custom-color-pink-dark-4 !important;
}
.text-pink-dark-3 {
    color: $custom-color-pink-dark-3 !important;
}
.text-pink-dark-2 {
    color: $custom-color-pink-dark-2 !important;
}
.text-pink-dark-1 {
    color: $custom-color-pink-dark-1 !important;
}
.text-pink-medium {
    color: $custom-color-pink-medium !important;
}
.text-pink-light-1 {
    color: $custom-color-pink-light-1 !important;
}
.text-pink-light-2 {
    color: $custom-color-pink-light-2 !important;
}
.text-pink-light-3 {
    color: $custom-color-pink-light-3 !important;
}
.text-pink-light-4 {
    color: $custom-color-pink-light-4 !important;
}
.text-pink-light-5 {
    color: $custom-color-pink-light-5 !important;
}



//----------------------------- Yellow ----------------------------//
.text-yellow-dark-4 {
    color: $custom-color-yellow-dark-4 !important;
}
.text-yellow-dark-3 {
    color: $custom-color-yellow-dark-3 !important;
}
.text-yellow-dark-2 {
    color: $custom-color-yellow-dark-2 !important;
}
.text-yellow-dark-1 {
    color: $custom-color-yellow-dark-1 !important;
}
.text-yellow-medium {
    color: $custom-color-yellow-medium !important;
}
.text-yellow-light-1 {
    color: $custom-color-yellow-light-1 !important;
}
.text-yellow-light-2 {
    color: $custom-color-yellow-light-2 !important;
}
.text-yellow-light-3 {
    color: $custom-color-yellow-light-3 !important;
}
.text-yellow-light-4 {
    color: $custom-color-yellow-light-4 !important;
}
.text-yellow-light-5 {
    color: $custom-color-yellow-light-5 !important;
}


//------------------------------- Gray -----------------------------//
.text-gray-dark-4 {
    color: $custom-color-gray-dark-4 !important;
}
.text-gray-dark-3 {
    color: $custom-color-gray-dark-3 !important;
}
.text-gray-dark-2 {
    color: $custom-color-gray-dark-2 !important;
}
.text-gray-dark-1 {
    color: $custom-color-gray-dark-1 !important;
}
.text-gray-medium {
    color: $custom-color-gray-medium !important;
}
.text-gray-light-1 {
    color: $custom-color-gray-light-1 !important;
}
.text-gray-light-2 {
    color: $custom-color-gray-light-2 !important;
}
.text-gray-light-3 {
    color: $custom-color-gray-light-3 !important;
}
.text-gray-light-4 {
    color: $custom-color-gray-light-4 !important;
}
.text-gray-light-5 {
    color: $custom-color-gray-light-5 !important;
}


//---------------------- Bootstrap Text Colors ---------------------//
.text-primary {
    color: $custom-color-blue-medium !important;
}

.text-secondary {
    color: $custom-color-gray-medium !important;
}

.text-success {
    color: $custom-color-green-medium !important;
}

.text-danger {
    color: $custom-color-red-medium !important;
}

.text-warning {
    color: $custom-color-yellow-medium !important;
}

.text-info {
    color: $custom-color-purple-medium !important;
}

.text-light {
    color: $custom-color-gray-light-5 !important;
}

.text-dark {
    color: $custom-color-gray-dark-3 !important;
}