body{

    &.dark:not(.unsupport-dark-mode){

        &.dark-mode-1{

            & .badge:not(.unsupport-dark-mode){

                // light
                &.badge-light-red{
                    background: #ff004c21;
                    color: $red-color-1;
                }

                &.badge-light-green{
                    background: #12ff831c;
                    color: $green-color-1;
                }
                
                &.badge-light-blue{
                    background: #00a4ff30;
                    color: $blue-color-1;
                }

                &.badge-light-cyan{
                    background: #30ffff26;
                    color: $cyan-color-1;
                }

                &.badge-light-orange{
                    background: #ffcc051f;
                    color: $orange-color-1;
                }

                &.badge-light-purple{
                    background: #9544ff38;
                    color: $purple-color-1;
                }

                &.bg-dark-1,
                &.bg-dark-2,
                &.bg-dark-3,
                &.bg-dark-4,
                &.bg-dark-5{
                    background: $dark-mode-color-3;
                }
                
            }

        }

    }

}