body{

    &.dark{

        & .custom-alert{
            
            & a{

                &.dark-color-3{
                    color: $dark-color-3;
                }

            }

        }

    }

}

.custom-alert{
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
    border-radius: 8px;
    
    &.red{
        border-color: $red-color-2;
        background-color: $red-color-3;
    }

    &.green{
        border-color: $green-color-2;
        background-color: $green-color-3;
    }

    &.blue{
        border-color: $blue-color-2;
        background-color: $blue-color-3;
    }

    &.cyan{
        border-color: $cyan-color-2;
        background-color: $cyan-color-3;
    }

    &.orange{
        border-color: $orange-color-2;
        background-color: $orange-color-3;
    }

    &.purple{
        border-color: $purple-color-2;
        background-color: $purple-color-3;
    }

    & .btn-close{
        box-shadow: none !important;
    }

    & .box{

        &.fill-white{
            color: $light-color-1 !important;
            
            svg{
                fill: $light-color-1 !important;
            }
        }

    }
}