.codebox{
    border-radius: 10px;
    // max-height: 27.8rem;
    min-height: 100px;
    position: relative;
    margin: auto;
    // overflow: auto;
    direction: ltr;
    transition: $main-transition;

    & .CodeMirror{
        height: auto;
    }

    &.mCustomScrollbar{
                
        & .mCSB_container{
            transition: width 0.5s !important;
            margin-right: 0 !important;
            padding-right: 0 !important;
        }
        
        & .mCSB_1_dragger_vertical{
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
        
        & .mCSB_1_dragger_onDrag{
            transition: none !important;
        }
        
        & .mCSB_dragger_bar{
            background: $green-color-1 !important;
            opacity: 1;
        }

        & .mCSB_draggerRail{
            opacity: 1;
        }
        
        & .mCSB_dragger_bar{
            width: 5px !important;
        }

    }

}