// ------styles-------

.border-dotted{
    border-style: dotted !important;
}

.border-dashed{
    border-style: dashed !important;
}
.border-solid{
    border-style: solid !important;
}

.border-double{
    border-style: double !important;
}

// ------colors-------

.border-primary,
.border-hover-primary:hover,
.border-focus-primary:focus{
    border-color: $primary-color !important;
}

.border-primary-dark,
.border-hover-primary-dark:hover,
.border-focus-primary-dark:focus{
    border-color: $primary-dark-color !important;
}

.border-primary-light,
.border-hover-primary-light:hover,
.border-focus-primary-light:focus{
    border-color: $primary-light-color !important;
}

// light
.border-light-1,
.border-hover-light-1:hover,
.border-focus-light-1:focus{
    border-color: $light-color-1 !important;
}

.border-light-2,
.border-hover-light-2:hover,
.border-focus-light-2:focus{
    border-color: $light-color-2 !important;
}

.border-light-3,
.border-hover-light-3:hover,
.border-focus-light-3:focus{
    border-color: $light-color-3 !important;
}

.border-light-4,
.border-hover-light-4:hover,
.border-focus-light-4:focus{
    border-color: $light-color-4 !important;
}

.border-light-5,
.border-hover-light-5:hover,
.border-focus-light-5:focus{
    border-color: $light-color-5 !important;
}

.border-light-6,
.border-hover-light-6:hover,
.border-focus-light-6:focus{
    border-color: $light-color-6 !important;
}

// dark
.border-dark-1,
.border-hover-dark-1:hover,
.border-focus-dark-1:focus{
    border-color: $dark-color-1 !important;
}

.border-dark-2,
.border-hover-dark-2:hover,
.border-focus-dark-2:focus{
    border-color: $dark-color-2 !important;
}

.border-dark-3,
.border-hover-dark-3:hover,
.border-focus-dark-3:focus{
    border-color: $dark-color-3 !important;
}

.border-dark-4,
.border-hover-dark-4:hover,
.border-focus-dark-4:focus{
    border-color: $dark-color-4 !important;
}

.border-dark-5,
.border-hover-dark-5:hover,
.border-focus-dark-5:focus{
    border-color: $dark-color-5 !important;
}

// red
.border-red-1,
.border-hover-red-1:hover,
.border-focus-red-1:focus{
    border-color: $red-color-1 !important;
}

.border-red-2,
.border-hover-red-2:hover,
.border-focus-red-2:focus{
    border-color: $red-color-2 !important;
}

.border-red-3,
.border-hover-red-3:hover,
.border-focus-red-3:focus{
    border-color: $red-color-3 !important;
}

// green
.border-green-1,
.border-hover-green-1:hover,
.border-focus-green-1:focus{
    border-color: $green-color-1 !important;
}

.border-green-2,
.border-hover-green-2:hover,
.border-focus-green-2:focus{
    border-color: $green-color-2 !important;
}

.border-green-3,
.border-hover-green-3:hover,
.border-focus-green-3:focus{
    border-color: $green-color-3 !important;
}

// blue
.border-blue-1,
.border-hover-blue-1:hover,
.border-focus-blue-1:focus{
    border-color: $blue-color-1 !important;
}

.border-blue-2,
.border-hover-blue-2:hover,
.border-focus-blue-2:focus{
    border-color: $blue-color-2 !important;
}

.border-blue-3,
.border-hover-blue-3:hover,
.border-focus-blue-3:focus{
    border-color: $blue-color-3 !important;
}

// cyan
.border-cyan-1,
.border-hover-cyan-1:hover,
.border-focus-cyan-1:focus{
    border-color: $cyan-color-1 !important;
}

.border-cyan-2,
.border-hover-cyan-2:hover,
.border-focus-cyan-2:focus{
    border-color: $cyan-color-2 !important;
}

.border-cyan-3,
.border-hover-cyan-3:hover,
.border-focus-cyan-3:focus{
    border-color: $cyan-color-3 !important;
}

// orange
.border-orange-1,
.border-hover-orange-1:hover,
.border-focus-orange-1:focus{
    border-color: $orange-color-1 !important;
}

.border-orange-2,
.border-hover-orange-2:hover,
.border-focus-orange-2:focus{
    border-color: $orange-color-2 !important;
}

.border-orange-3,
.border-hover-orange-3:hover,
.border-focus-orange-3:focus{
    border-color: $orange-color-3 !important;
}

// purple
.border-purple-1,
.border-hover-purple-1:hover,
.border-focus-purple-1:focus{
    border-color: $purple-color-1 !important;
}

.border-purple-2,
.border-hover-purple-2:hover,
.border-focus-purple-2:focus{
    border-color: $purple-color-2 !important;
}

.border-purple-3,
.border-hover-purple-3:hover,
.border-focus-purple-3:focus{
    border-color: $purple-color-3 !important;
}

@import 'border-dark'