@import "../variables";


//------------------------------ Red ------------------------------//
.fill-red-dark-4 {
    fill: $custom-color-red-dark-4 !important;
}
.fill-red-dark-3 {
    fill: $custom-color-red-dark-3 !important;
}
.fill-red-dark-2 {
    fill: $custom-color-red-dark-2 !important;
}
.fill-red-dark-1 {
    fill: $custom-color-red-dark-1 !important;
}
.fill-red-medium {
    fill: $custom-color-red-medium !important;
}
.fill-red-light-1 {
    fill: $custom-color-red-light-1 !important;
}
.fill-red-light-2 {
    fill: $custom-color-red-light-2 !important;
}
.fill-red-light-3 {
    fill: $custom-color-red-light-3 !important;
}
.fill-red-light-4 {
    fill: $custom-color-red-light-4 !important;
}
.fill-red-light-5 {
    fill: $custom-color-red-light-5 !important;
}


//------------------------------ Blue ------------------------------//
.fill-blue-dark-4 {
    fill: $custom-color-blue-dark-4 !important;
}
.fill-blue-dark-3 {
    fill: $custom-color-blue-dark-3 !important;
}
.fill-blue-dark-2 {
    fill: $custom-color-blue-dark-2 !important;
}
.fill-blue-dark-1 {
    fill: $custom-color-blue-dark-1 !important;
}
.fill-blue-medium {
    fill: $custom-color-blue-medium !important;
}
.fill-blue-light-1 {
    fill: $custom-color-blue-light-1 !important;
}
.fill-blue-light-2 {
    fill: $custom-color-blue-light-2 !important;
}
.fill-blue-light-3 {
    fill: $custom-color-blue-light-3 !important;
}
.fill-blue-light-4 {
    fill: $custom-color-blue-light-4 !important;
}
.fill-blue-light-5 {
    fill: $custom-color-blue-light-5 !important;
}



//------------------------------ Cyan ------------------------------//
.fill-cyan-dark-4 {
    fill: $custom-color-cyan-dark-4 !important;
}
.fill-cyan-dark-3 {
    fill: $custom-color-cyan-dark-3 !important;
}
.fill-cyan-dark-2 {
    fill: $custom-color-cyan-dark-2 !important;
}
.fill-cyan-dark-1 {
    fill: $custom-color-cyan-dark-1 !important;
}
.fill-cyan-medium {
    fill: $custom-color-cyan-medium !important;
}
.fill-cyan-light-1 {
    fill: $custom-color-cyan-light-1 !important;
}
.fill-cyan-light-2 {
    fill: $custom-color-cyan-light-2 !important;
}
.fill-cyan-light-3 {
    fill: $custom-color-cyan-light-3 !important;
}
.fill-cyan-light-4 {
    fill: $custom-color-cyan-light-4 !important;
}
.fill-cyan-light-5 {
    fill: $custom-color-cyan-light-5 !important;
}


//----------------------------- Orange -----------------------------//
.fill-orange-dark-4 {
    fill: $custom-color-orange-dark-4 !important;
}
.fill-orange-dark-3 {
    fill: $custom-color-orange-dark-3 !important;
}
.fill-orange-dark-2 {
    fill: $custom-color-orange-dark-2 !important;
}
.fill-orange-dark-1 {
    fill: $custom-color-orange-dark-1 !important;
}
.fill-orange-medium {
    fill: $custom-color-orange-medium !important;
}
.fill-orange-light-1 {
    fill: $custom-color-orange-light-1 !important;
}
.fill-orange-light-2 {
    fill: $custom-color-orange-light-2 !important;
}
.fill-orange-light-3 {
    fill: $custom-color-orange-light-3 !important;
}
.fill-orange-light-4 {
    fill: $custom-color-orange-light-4 !important;
}
.fill-orange-light-5 {
    fill: $custom-color-orange-light-5 !important;
}


//----------------------------- Purple -----------------------------//
.fill-purple-dark-4 {
    fill: $custom-color-purple-dark-4 !important;
}
.fill-purple-dark-3 {
    fill: $custom-color-purple-dark-3 !important;
}
.fill-purple-dark-2 {
    fill: $custom-color-purple-dark-2 !important;
}
.fill-purple-dark-1 {
    fill: $custom-color-purple-dark-1 !important;
}
.fill-purple-medium {
    fill: $custom-color-purple-medium !important;
}
.fill-purple-light-1 {
    fill: $custom-color-purple-light-1 !important;
}
.fill-purple-light-2 {
    fill: $custom-color-purple-light-2 !important;
}
.fill-purple-light-3 {
    fill: $custom-color-purple-light-3 !important;
}
.fill-purple-light-4 {
    fill: $custom-color-purple-light-4 !important;
}
.fill-purple-light-5 {
    fill: $custom-color-purple-light-5 !important;
}


//------------------------------ Green -----------------------------//
.fill-green-dark-4 {
    fill: $custom-color-green-dark-4 !important;
}
.fill-green-dark-3 {
    fill: $custom-color-green-dark-3 !important;
}
.fill-green-dark-2 {
    fill: $custom-color-green-dark-2 !important;
}
.fill-green-dark-1 {
    fill: $custom-color-green-dark-1 !important;
}
.fill-green-medium {
    fill: $custom-color-green-medium !important;
}
.fill-green-light-1 {
    fill: $custom-color-green-light-1 !important;
}
.fill-green-light-2 {
    fill: $custom-color-green-light-2 !important;
}
.fill-green-light-3 {
    fill: $custom-color-green-light-3 !important;
}
.fill-green-light-4 {
    fill: $custom-color-green-light-4 !important;
}
.fill-green-light-5 {
    fill: $custom-color-green-light-5 !important;
}


//------------------------------ Pink -----------------------------//
.fill-pink-dark-4 {
    fill: $custom-color-pink-dark-4 !important;
}
.fill-pink-dark-3 {
    fill: $custom-color-pink-dark-3 !important;
}
.fill-pink-dark-2 {
    fill: $custom-color-pink-dark-2 !important;
}
.fill-pink-dark-1 {
    fill: $custom-color-pink-dark-1 !important;
}
.fill-pink-medium {
    fill: $custom-color-pink-medium !important;
}
.fill-pink-light-1 {
    fill: $custom-color-pink-light-1 !important;
}
.fill-pink-light-2 {
    fill: $custom-color-pink-light-2 !important;
}
.fill-pink-light-3 {
    fill: $custom-color-pink-light-3 !important;
}
.fill-pink-light-4 {
    fill: $custom-color-pink-light-4 !important;
}
.fill-pink-light-5 {
    fill: $custom-color-pink-light-5 !important;
}


//----------------------------- Yellow ----------------------------//
.fill-yellow-dark-4 {
    fill: $custom-color-yellow-dark-4 !important;
}
.fill-yellow-dark-3 {
    fill: $custom-color-yellow-dark-3 !important;
}
.fill-yellow-dark-2 {
    fill: $custom-color-yellow-dark-2 !important;
}
.fill-yellow-dark-1 {
    fill: $custom-color-yellow-dark-1 !important;
}
.fill-yellow-medium {
    fill: $custom-color-yellow-medium !important;
}
.fill-yellow-light-1 {
    fill: $custom-color-yellow-light-1 !important;
}
.fill-yellow-light-2 {
    fill: $custom-color-yellow-light-2 !important;
}
.fill-yellow-light-3 {
    fill: $custom-color-yellow-light-3 !important;
}
.fill-yellow-light-4 {
    fill: $custom-color-yellow-light-4 !important;
}
.fill-yellow-light-5 {
    fill: $custom-color-yellow-light-5 !important;
}


//------------------------------- Gray -----------------------------//
.fill-gray-dark-4 {
    fill: $custom-color-gray-dark-4 !important;
}
.fill-gray-dark-3 {
    fill: $custom-color-gray-dark-3 !important;
}
.fill-gray-dark-2 {
    fill: $custom-color-gray-dark-2 !important;
}
.fill-gray-dark-1 {
    fill: $custom-color-gray-dark-1 !important;
}
.fill-gray-medium {
    fill: $custom-color-gray-medium !important;
}
.fill-gray-light-1 {
    fill: $custom-color-gray-light-1 !important;
}
.fill-gray-light-2 {
    fill: $custom-color-gray-light-2 !important;
}
.fill-gray-light-3 {
    fill: $custom-color-gray-light-3 !important;
}
.fill-gray-light-4 {
    fill: $custom-color-gray-light-4 !important;
}
.fill-gray-light-5 {
    fill: $custom-color-gray-light-5 !important;
}


//------------------------- Bootstrap Colors -----------------------//
.fill-primary {
    fill: $custom-color-blue-medium !important;
}

.fill-secondary {
    fill: $custom-color-gray-medium !important;
}

.fill-success {
    fill: $custom-color-green-medium !important;
}

.fill-danger {
    fill: $custom-color-red-medium !important;
}

.fill-warning {
    fill: $custom-color-yellow-medium !important;
}

.fill-info {
    fill: $custom-color-purple-medium !important;
}

.fill-light {
    fill: $custom-color-gray-light-5 !important;
}

.fill-dark {
    fill: $custom-color-gray-dark-3 !important;
}