@import "../variables";


//------------------------------ Red ------------------------------//
.hover-fill-red-dark-4:hover {
    fill: $custom-color-red-dark-4 !important;
}
.hover-fill-red-dark-3:hover {
    fill: $custom-color-red-dark-3 !important;
}
.hover-fill-red-dark-2:hover {
    fill: $custom-color-red-dark-2 !important;
}
.hover-fill-red-dark-1:hover {
    fill: $custom-color-red-dark-1 !important;
}
.hover-fill-red-medium:hover {
    fill: $custom-color-red-medium !important;
}
.hover-fill-red-light-1:hover {
    fill: $custom-color-red-light-1 !important;
}
.hover-fill-red-light-2:hover {
    fill: $custom-color-red-light-2 !important;
}
.hover-fill-red-light-3:hover {
    fill: $custom-color-red-light-3 !important;
}
.hover-fill-red-light-4:hover {
    fill: $custom-color-red-light-4 !important;
}
.hover-fill-red-light-5:hover {
    fill: $custom-color-red-light-5 !important;
}


//------------------------------ Blue ------------------------------//
.hover-fill-blue-dark-4:hover {
    fill: $custom-color-blue-dark-4 !important;
}
.hover-fill-blue-dark-3:hover {
    fill: $custom-color-blue-dark-3 !important;
}
.hover-fill-blue-dark-2:hover {
    fill: $custom-color-blue-dark-2 !important;
}
.hover-fill-blue-dark-1:hover {
    fill: $custom-color-blue-dark-1 !important;
}
.hover-fill-blue-medium:hover {
    fill: $custom-color-blue-medium !important;
}
.hover-fill-blue-light-1:hover {
    fill: $custom-color-blue-light-1 !important;
}
.hover-fill-blue-light-2:hover {
    fill: $custom-color-blue-light-2 !important;
}
.hover-fill-blue-light-3:hover {
    fill: $custom-color-blue-light-3 !important;
}
.hover-fill-blue-light-4:hover {
    fill: $custom-color-blue-light-4 !important;
}
.hover-fill-blue-light-5:hover {
    fill: $custom-color-blue-light-5 !important;
}




//------------------------------ Cyan ------------------------------//
.hover-fill-cyan-dark-4:hover {
    fill: $custom-color-cyan-dark-4 !important;
}
.hover-fill-cyan-dark-3:hover {
    fill: $custom-color-cyan-dark-3 !important;
}
.hover-fill-cyan-dark-2:hover {
    fill: $custom-color-cyan-dark-2 !important;
}
.hover-fill-cyan-dark-1:hover {
    fill: $custom-color-cyan-dark-1 !important;
}
.hover-fill-cyan-medium:hover {
    fill: $custom-color-cyan-medium !important;
}
.hover-fill-cyan-light-1:hover {
    fill: $custom-color-cyan-light-1 !important;
}
.hover-fill-cyan-light-2:hover {
    fill: $custom-color-cyan-light-2 !important;
}
.hover-fill-cyan-light-3:hover {
    fill: $custom-color-cyan-light-3 !important;
}
.hover-fill-cyan-light-4:hover {
    fill: $custom-color-cyan-light-4 !important;
}
.hover-fill-cyan-light-5:hover {
    fill: $custom-color-cyan-light-5 !important;
}


//----------------------------- Orange -----------------------------//
.hover-fill-orange-dark-4:hover {
    fill: $custom-color-orange-dark-4 !important;
}
.hover-fill-orange-dark-3:hover {
    fill: $custom-color-orange-dark-3 !important;
}
.hover-fill-orange-dark-2:hover {
    fill: $custom-color-orange-dark-2 !important;
}
.hover-fill-orange-dark-1:hover {
    fill: $custom-color-orange-dark-1 !important;
}
.hover-fill-orange-medium:hover {
    fill: $custom-color-orange-medium !important;
}
.hover-fill-orange-light-1:hover {
    fill: $custom-color-orange-light-1 !important;
}
.hover-fill-orange-light-2:hover {
    fill: $custom-color-orange-light-2 !important;
}
.hover-fill-orange-light-3:hover {
    fill: $custom-color-orange-light-3 !important;
}
.hover-fill-orange-light-4:hover {
    fill: $custom-color-orange-light-4 !important;
}
.hover-fill-orange-light-5:hover {
    fill: $custom-color-orange-light-5 !important;
}


//----------------------------- Purple -----------------------------//
.hover-fill-purple-dark-4:hover {
    fill: $custom-color-purple-dark-4 !important;
}
.hover-fill-purple-dark-3:hover {
    fill: $custom-color-purple-dark-3 !important;
}
.hover-fill-purple-dark-2:hover {
    fill: $custom-color-purple-dark-2 !important;
}
.hover-fill-purple-dark-1:hover {
    fill: $custom-color-purple-dark-1 !important;
}
.hover-fill-purple-medium:hover {
    fill: $custom-color-purple-medium !important;
}
.hover-fill-purple-light-1:hover {
    fill: $custom-color-purple-light-1 !important;
}
.hover-fill-purple-light-2:hover {
    fill: $custom-color-purple-light-2 !important;
}
.hover-fill-purple-light-3:hover {
    fill: $custom-color-purple-light-3 !important;
}
.hover-fill-purple-light-4:hover {
    fill: $custom-color-purple-light-4 !important;
}
.hover-fill-purple-light-5:hover {
    fill: $custom-color-purple-light-5 !important;
}


//------------------------------ Green -----------------------------//
.hover-fill-green-dark-4:hover {
    fill: $custom-color-green-dark-4 !important;
}
.hover-fill-green-dark-3:hover {
    fill: $custom-color-green-dark-3 !important;
}
.hover-fill-green-dark-2:hover {
    fill: $custom-color-green-dark-2 !important;
}
.hover-fill-green-dark-1:hover {
    fill: $custom-color-green-dark-1 !important;
}
.hover-fill-green-medium:hover {
    fill: $custom-color-green-medium !important;
}
.hover-fill-green-light-1:hover {
    fill: $custom-color-green-light-1 !important;
}
.hover-fill-green-light-2:hover {
    fill: $custom-color-green-light-2 !important;
}
.hover-fill-green-light-3:hover {
    fill: $custom-color-green-light-3 !important;
}
.hover-fill-green-light-4:hover {
    fill: $custom-color-green-light-4 !important;
}
.hover-fill-green-light-5:hover {
    fill: $custom-color-green-light-5 !important;
}


//------------------------------ Pink -----------------------------//
.hover-fill-pink-dark-4:hover {
    fill: $custom-color-pink-dark-4 !important;
}
.hover-fill-pink-dark-3:hover {
    fill: $custom-color-pink-dark-3 !important;
}
.hover-fill-pink-dark-2:hover {
    fill: $custom-color-pink-dark-2 !important;
}
.hover-fill-pink-dark-1:hover {
    fill: $custom-color-pink-dark-1 !important;
}
.hover-fill-pink-medium:hover {
    fill: $custom-color-pink-medium !important;
}
.hover-fill-pink-light-1:hover {
    fill: $custom-color-pink-light-1 !important;
}
.hover-fill-pink-light-2:hover {
    fill: $custom-color-pink-light-2 !important;
}
.hover-fill-pink-light-3:hover {
    fill: $custom-color-pink-light-3 !important;
}
.hover-fill-pink-light-4:hover {
    fill: $custom-color-pink-light-4 !important;
}
.hover-fill-pink-light-5:hover {
    fill: $custom-color-pink-light-5 !important;
}


//----------------------------- Yellow ----------------------------//
.hover-fill-yellow-dark-4:hover {
    fill: $custom-color-yellow-dark-4 !important;
}
.hover-fill-yellow-dark-3:hover {
    fill: $custom-color-yellow-dark-3 !important;
}
.hover-fill-yellow-dark-2:hover {
    fill: $custom-color-yellow-dark-2 !important;
}
.hover-fill-yellow-dark-1:hover {
    fill: $custom-color-yellow-dark-1 !important;
}
.hover-fill-yellow-medium:hover {
    fill: $custom-color-yellow-medium !important;
}
.hover-fill-yellow-light-1:hover {
    fill: $custom-color-yellow-light-1 !important;
}
.hover-fill-yellow-light-2:hover {
    fill: $custom-color-yellow-light-2 !important;
}
.hover-fill-yellow-light-3:hover {
    fill: $custom-color-yellow-light-3 !important;
}
.hover-fill-yellow-light-4:hover {
    fill: $custom-color-yellow-light-4 !important;
}
.hover-fill-yellow-light-5:hover {
    fill: $custom-color-yellow-light-5 !important;
}


//------------------------------- Gray -----------------------------//
.hover-fill-gray-dark-4:hover {
    fill: $custom-color-gray-dark-4 !important;
}
.hover-fill-gray-dark-3:hover {
    fill: $custom-color-gray-dark-3 !important;
}
.hover-fill-gray-dark-2:hover {
    fill: $custom-color-gray-dark-2 !important;
}
.hover-fill-gray-dark-1:hover {
    fill: $custom-color-gray-dark-1 !important;
}
.hover-fill-gray-medium:hover {
    fill: $custom-color-gray-medium !important;
}
.hover-fill-gray-light-1:hover {
    fill: $custom-color-gray-light-1 !important;
}
.hover-fill-gray-light-2:hover {
    fill: $custom-color-gray-light-2 !important;
}
.hover-fill-gray-light-3:hover {
    fill: $custom-color-gray-light-3 !important;
}
.hover-fill-gray-light-4:hover {
    fill: $custom-color-gray-light-4 !important;
}
.hover-fill-gray-light-5:hover {
    fill: $custom-color-gray-light-5 !important;
}


//------------------------- Bootstrap Colors -----------------------//
.hover-fill-primary:hover {
    fill: $custom-color-blue-medium !important;
}

.hover-fill-secondary:hover {
    fill: $custom-color-gray-medium !important;
}

.hover-fill-success:hover {
    fill: $custom-color-green-medium !important;
}

.hover-fill-danger:hover {
    fill: $custom-color-red-medium !important;
}

.hover-fill-warning:hover {
    fill: $custom-color-yellow-medium !important;
}

.hover-fill-info:hover {
    fill: $custom-color-purple-medium !important;
}

.hover-fill-light:hover {
    fill: $custom-color-gray-light-5 !important;
}

.hover-fill-dark:hover {
    fill: $custom-color-gray-dark-3 !important;
}