@import "../variables";


//------------------------------ Red ------------------------------//
.hover-bg-red-dark-4:hover {
    background-color: $custom-color-red-dark-4 !important;
}

.hover-bg-red-dark-3:hover {
    background-color: $custom-color-red-dark-3 !important;
}

.hover-bg-red-dark-2:hover {
    background-color: $custom-color-red-dark-2 !important;
}

.hover-bg-red-dark-1:hover {
    background-color: $custom-color-red-dark-1 !important;
}

.hover-bg-red-medium:hover {
    background-color: $custom-color-red-medium !important;
}

.hover-bg-red-light-1:hover {
    background-color: $custom-color-red-light-1 !important;
}

.hover-bg-red-light-2:hover {
    background-color: $custom-color-red-light-2 !important;
}

.hover-bg-red-light-3:hover {
    background-color: $custom-color-red-light-3 !important;
}

.hover-bg-red-light-4:hover {
    background-color: $custom-color-red-light-4 !important;
}

.hover-bg-red-light-5:hover {
    background-color: $custom-color-red-light-5 !important;
}


//------------------------------ Blue ------------------------------//
.hover-bg-blue-dark-4:hover {
    background-color: $custom-color-blue-dark-4 !important;
}

.hover-bg-blue-dark-3:hover {
    background-color: $custom-color-blue-dark-3 !important;
}

.hover-bg-blue-dark-2:hover {
    background-color: $custom-color-blue-dark-2 !important;
}

.hover-bg-blue-dark-1:hover {
    background-color: $custom-color-blue-dark-1 !important;
}

.hover-bg-blue-medium:hover {
    background-color: $custom-color-blue-medium !important;
}

.hover-bg-blue-light-1:hover {
    background-color: $custom-color-blue-light-1 !important;
}

.hover-bg-blue-light-2:hover {
    background-color: $custom-color-blue-light-2 !important;
}

.hover-bg-blue-light-3:hover {
    background-color: $custom-color-blue-light-3 !important;
}

.hover-bg-blue-light-4:hover {
    background-color: $custom-color-blue-light-4 !important;
}

.hover-bg-blue-light-5:hover {
    background-color: $custom-color-blue-light-5 !important;
}


//------------------------------ Cyan ------------------------------//
.hover-bg-cyan-dark-4:hover {
    background-color: $custom-color-cyan-dark-4 !important;
}

.hover-bg-cyan-dark-3:hover {
    background-color: $custom-color-cyan-dark-3 !important;
}

.hover-bg-cyan-dark-2:hover {
    background-color: $custom-color-cyan-dark-2 !important;
}

.hover-bg-cyan-dark-1:hover {
    background-color: $custom-color-cyan-dark-1 !important;
}

.hover-bg-cyan-medium:hover {
    background-color: $custom-color-cyan-medium !important;
}

.hover-bg-cyan-light-1:hover {
    background-color: $custom-color-cyan-light-1 !important;
}

.hover-bg-cyan-light-2:hover {
    background-color: $custom-color-cyan-light-2 !important;
}

.hover-bg-cyan-light-3:hover {
    background-color: $custom-color-cyan-light-3 !important;
}

.hover-bg-cyan-light-4:hover {
    background-color: $custom-color-cyan-light-4 !important;
}

.hover-bg-cyan-light-5:hover {
    background-color: $custom-color-cyan-light-5 !important;
}


//----------------------------- Orange -----------------------------//
.hover-bg-orange-dark-4:hover {
    background-color: $custom-color-orange-dark-4 !important;
}

.hover-bg-orange-dark-3:hover {
    background-color: $custom-color-orange-dark-3 !important;
}

.hover-bg-orange-dark-2:hover {
    background-color: $custom-color-orange-dark-2 !important;
}

.hover-bg-orange-dark-1:hover {
    background-color: $custom-color-orange-dark-1 !important;
}

.hover-bg-orange-medium:hover {
    background-color: $custom-color-orange-medium !important;
}

.hover-bg-orange-light-1:hover {
    background-color: $custom-color-orange-light-1 !important;
}

.hover-bg-orange-light-2:hover {
    background-color: $custom-color-orange-light-2 !important;
}

.hover-bg-orange-light-3:hover {
    background-color: $custom-color-orange-light-3 !important;
}

.hover-bg-orange-light-4:hover {
    background-color: $custom-color-orange-light-4 !important;
}

.hover-bg-orange-light-5:hover {
    background-color: $custom-color-orange-light-5 !important;
}


//----------------------------- Purple -----------------------------//
.hover-bg-purple-dark-4:hover {
    background-color: $custom-color-purple-dark-4 !important;
}

.hover-bg-purple-dark-3:hover {
    background-color: $custom-color-purple-dark-3 !important;
}

.hover-bg-purple-dark-2:hover {
    background-color: $custom-color-purple-dark-2 !important;
}

.hover-bg-purple-dark-1:hover {
    background-color: $custom-color-purple-dark-1 !important;
}

.hover-bg-purple-medium:hover {
    background-color: $custom-color-purple-medium !important;
}

.hover-bg-purple-light-1:hover {
    background-color: $custom-color-purple-light-1 !important;
}

.hover-bg-purple-light-2:hover {
    background-color: $custom-color-purple-light-2 !important;
}

.hover-bg-purple-light-3:hover {
    background-color: $custom-color-purple-light-3 !important;
}

.hover-bg-purple-light-4:hover {
    background-color: $custom-color-purple-light-4 !important;
}

.hover-bg-purple-light-5:hover {
    background-color: $custom-color-purple-light-5 !important;
}


//------------------------------ Green -----------------------------//
.hover-bg-green-dark-4:hover {
    background-color: $custom-color-green-dark-4 !important;
}

.hover-bg-green-dark-3:hover {
    background-color: $custom-color-green-dark-3 !important;
}

.hover-bg-green-dark-2:hover {
    background-color: $custom-color-green-dark-2 !important;
}

.hover-bg-green-dark-1:hover {
    background-color: $custom-color-green-dark-1 !important;
}

.hover-bg-green-medium:hover {
    background-color: $custom-color-green-medium !important;
}

.hover-bg-green-light-1:hover {
    background-color: $custom-color-green-light-1 !important;
}

.hover-bg-green-light-2:hover {
    background-color: $custom-color-green-light-2 !important;
}

.hover-bg-green-light-3:hover {
    background-color: $custom-color-green-light-3 !important;
}

.hover-bg-green-light-4:hover {
    background-color: $custom-color-green-light-4 !important;
}

.hover-bg-green-light-5:hover {
    background-color: $custom-color-green-light-5 !important;
}


//------------------------------ Pink -----------------------------//
.hover-bg-pink-dark-4:hover {
    background-color: $custom-color-pink-dark-4 !important;
}

.hover-bg-pink-dark-3:hover {
    background-color: $custom-color-pink-dark-3 !important;
}

.hover-bg-pink-dark-2:hover {
    background-color: $custom-color-pink-dark-2 !important;
}

.hover-bg-pink-dark-1:hover {
    background-color: $custom-color-pink-dark-1 !important;
}

.hover-bg-pink-medium:hover {
    background-color: $custom-color-pink-medium !important;
}

.hover-bg-pink-light-1:hover {
    background-color: $custom-color-pink-light-1 !important;
}

.hover-bg-pink-light-2:hover {
    background-color: $custom-color-pink-light-2 !important;
}

.hover-bg-pink-light-3:hover {
    background-color: $custom-color-pink-light-3 !important;
}

.hover-bg-pink-light-4:hover {
    background-color: $custom-color-pink-light-4 !important;
}

.hover-bg-pink-light-5:hover {
    background-color: $custom-color-pink-light-5 !important;
}


//----------------------------- Yellow ----------------------------//
.hover-bg-yellow-dark-4:hover {
    background-color: $custom-color-yellow-dark-4 !important;
}

.hover-bg-yellow-dark-3:hover {
    background-color: $custom-color-yellow-dark-3 !important;
}

.hover-bg-yellow-dark-2:hover {
    background-color: $custom-color-yellow-dark-2 !important;
}

.hover-bg-yellow-dark-1:hover {
    background-color: $custom-color-yellow-dark-1 !important;
}

.hover-bg-yellow-medium:hover {
    background-color: $custom-color-yellow-medium !important;
}

.hover-bg-yellow-light-1:hover {
    background-color: $custom-color-yellow-light-1 !important;
}

.hover-bg-yellow-light-2:hover {
    background-color: $custom-color-yellow-light-2 !important;
}

.hover-bg-yellow-light-3:hover {
    background-color: $custom-color-yellow-light-3 !important;
}

.hover-bg-yellow-light-4:hover {
    background-color: $custom-color-yellow-light-4 !important;
}

.hover-bg-yellow-light-5:hover {
    background-color: $custom-color-yellow-light-5 !important;
}


//------------------------------- Gray -----------------------------//
.hover-bg-gray-dark-4:hover {
    background-color: $custom-color-gray-dark-4 !important;
}

.hover-bg-gray-dark-3:hover {
    background-color: $custom-color-gray-dark-3 !important;
}

.hover-bg-gray-dark-2:hover {
    background-color: $custom-color-gray-dark-2 !important;
}

.hover-bg-gray-dark-1:hover {
    background-color: $custom-color-gray-dark-1 !important;
}

.hover-bg-gray-medium:hover {
    background-color: $custom-color-gray-medium !important;
}

.hover-bg-gray-light-1:hover {
    background-color: $custom-color-gray-light-1 !important;
}

.hover-bg-gray-light-2:hover {
    background-color: $custom-color-gray-light-2 !important;
}

.hover-bg-gray-light-3:hover {
    background-color: $custom-color-gray-light-3 !important;
}

.hover-bg-gray-light-4:hover {
    background-color: $custom-color-gray-light-4 !important;
}

.hover-bg-gray-light-5:hover {
    background-color: $custom-color-gray-light-5 !important;
}


//---------------------- Bootstrap Backgrounds ---------------------//
.hover-bg-primary:hover {
    background-color: $custom-color-blue-medium !important;
}

.hover-bg-secondary:hover {
    background-color: $custom-color-gray-medium !important;
}

.hover-bg-success:hover {
    background-color: $custom-color-green-medium !important;
}

.hover-bg-danger:hover {
    background-color: $custom-color-red-medium !important;
}

.hover-bg-warning:hover {
    background-color: $custom-color-yellow-medium !important;
}

.hover-bg-info:hover {
    background-color: $custom-color-purple-medium !important;
}

.hover-bg-light:hover {
    background-color: $custom-color-gray-light-5 !important;
}

.hover-bg-dark:hover {
    background-color: $custom-color-gray-dark-3 !important;
}