@import "../../../variables";
@import "variables";

//------------------------------ Text Colors ------------------------------//
@import "text/text_colors";
@import "text/hover_text_colors";

//--------------------------- Background Colors ---------------------------//
@import "background/bg_colors";
@import "background/hover_bg_colors";

//------------------------------ Fill Colors ------------------------------//
@import "fill/fill_colors";
@import "fill/hover_fill_colors";

//----------------------------- Stroke Colors -----------------------------//
@import "stroke_colors";
@import "hover_stroke_colors";


// ----- When Hover On The Box's Parent - Change Bg Color ----- //
.hover-box-bg-primary:hover {
    & .box {
        background-color: $primary-color !important;
    }
}

.hover-box-bg-primary-dark:hover {
    & .box {
        background-color: $primary-dark-color !important;
    }
}

.hover-box-bg-primary-light:hover {
    & .box {
        background-color: $primary-light-color !important;
    }
}

// dark
.hover-box-bg-dark-1:hover {
    & .box {
        background-color: $dark-color-1 !important;
    }
}

.hover-box-bg-dark-2:hover {
    & .box {
        background-color: $dark-color-2 !important;
    }
}

.hover-box-bg-dark-3:hover {
    & .box {
        background-color: $dark-color-3 !important;
    }
}

.hover-box-bg-dark-4:hover {
    & .box {
        background-color: $dark-color-4 !important;
    }
}

.hover-box-bg-dark-5:hover {
    & .box {
        background-color: $dark-color-5 !important;
    }
}

// light
.hover-box-bg-light-1:hover {
    & .box {
        background-color: $light-color-1 !important;
    }
}

.hover-box-bg-light-2:hover {
    & .box {
        background-color: $light-color-2 !important;
    }
}

.hover-box-bg-light-3:hover {
    & .box {
        background-color: $light-color-3 !important;
    }
}

.hover-box-bg-light-4:hover {
    & .box {
        background-color: $light-color-4 !important;
    }
}

.hover-box-bg-light-5:hover {
    & .box {
        background-color: $light-color-5 !important;
    }
}

.hover-box-bg-light-6:hover {
    & .box {
        background-color: $light-color-6 !important;
    }
}

// red
.hover-box-bg-red-1:hover {
    & .box {
        background-color: $red-color-1 !important;
    }
}

.hover-box-bg-red-2:hover {
    & .box {
        background-color: $red-color-2 !important;
    }
}

.hover-box-bg-red-3:hover {
    & .box {
        background-color: $red-color-3 !important;
    }
}

// blue
.hover-box-bg-blue-1:hover {
    & .box {
        background-color: $blue-color-1 !important;
    }
}

.hover-box-bg-blue-2:hover {
    & .box {
        background-color: $blue-color-2 !important;
    }
}

.hover-box-bg-blue-3:hover {
    & .box {
        background-color: $blue-color-3 !important;
    }
}

// cyan
.hover-box-bg-cyan-1:hover {
    & .box {
        background-color: $cyan-color-1 !important;
    }
}

.hover-box-bg-cyan-2:hover {
    & .box {
        background-color: $cyan-color-2 !important;
    }
}

.hover-box-bg-cyan-3:hover {
    & .box {
        background-color: $cyan-color-3 !important;
    }
}

// purple
.hover-box-bg-purple-1:hover {
    & .box {
        background-color: $purple-color-1 !important;
    }
}

.hover-box-bg-purple-2:hover {
    & .box {
        background-color: $purple-color-2 !important;
    }
}

.hover-box-bg-purple-3:hover {
    & .box {
        background-color: $purple-color-3 !important;
    }
}

// orange
.hover-box-bg-orange-1:hover {
    & .box {
        background-color: $orange-color-1 !important;
    }
}

.hover-box-bg-orange-2:hover {
    & .box {
        background-color: $orange-color-2 !important;
    }
}

.hover-box-bg-orange-3:hover {
    & .box {
        background-color: $orange-color-3 !important;
    }
}

// green
.hover-box-bg-green-1:hover {
    & .box {
        background-color: $green-color-1 !important;
    }
}

.hover-box-bg-green-2:hover {
    & .box {
        background-color: $green-color-2 !important;
    }
}

.hover-box-bg-green-3:hover {
    & .box {
        background-color: $green-color-3 !important;
    }
}

@import 'colors-dark';