@import "variables";


//------------------------------ Red ------------------------------//
.stroke-red-dark-4 {
    stroke: $custom-color-red-dark-4 !important;
}
.stroke-red-dark-3 {
    stroke: $custom-color-red-dark-3 !important;
}
.stroke-red-dark-2 {
    stroke: $custom-color-red-dark-2 !important;
}
.stroke-red-dark-1 {
    stroke: $custom-color-red-dark-1 !important;
}
.stroke-red-medium {
    stroke: $custom-color-red-medium !important;
}
.stroke-red-light-1 {
    stroke: $custom-color-red-light-1 !important;
}
.stroke-red-light-2 {
    stroke: $custom-color-red-light-2 !important;
}
.stroke-red-light-3 {
    stroke: $custom-color-red-light-3 !important;
}
.stroke-red-light-4 {
    stroke: $custom-color-red-light-4 !important;
}
.stroke-red-light-5 {
    stroke: $custom-color-red-light-5 !important;
}


//------------------------------ Blue ------------------------------//
.stroke-blue-dark-4 {
    stroke: $custom-color-blue-dark-4 !important;
}
.stroke-blue-dark-3 {
    stroke: $custom-color-blue-dark-3 !important;
}
.stroke-blue-dark-2 {
    stroke: $custom-color-blue-dark-2 !important;
}
.stroke-blue-dark-1 {
    stroke: $custom-color-blue-dark-1 !important;
}
.stroke-blue-medium {
    stroke: $custom-color-blue-medium !important;
}
.stroke-blue-light-1 {
    stroke: $custom-color-blue-light-1 !important;
}
.stroke-blue-light-2 {
    stroke: $custom-color-blue-light-2 !important;
}
.stroke-blue-light-3 {
    stroke: $custom-color-blue-light-3 !important;
}
.stroke-blue-light-4 {
    stroke: $custom-color-blue-light-4 !important;
}
.stroke-blue-light-5 {
    stroke: $custom-color-blue-light-5 !important;
}



//------------------------------ Cyan ------------------------------//
.stroke-cyan-dark-4 {
    stroke: $custom-color-cyan-dark-4 !important;
}
.stroke-cyan-dark-3 {
    stroke: $custom-color-cyan-dark-3 !important;
}
.stroke-cyan-dark-2 {
    stroke: $custom-color-cyan-dark-2 !important;
}
.stroke-cyan-dark-1 {
    stroke: $custom-color-cyan-dark-1 !important;
}
.stroke-cyan-medium {
    stroke: $custom-color-cyan-medium !important;
}
.stroke-cyan-light-1 {
    stroke: $custom-color-cyan-light-1 !important;
}
.stroke-cyan-light-2 {
    stroke: $custom-color-cyan-light-2 !important;
}
.stroke-cyan-light-3 {
    stroke: $custom-color-cyan-light-3 !important;
}
.stroke-cyan-light-4 {
    stroke: $custom-color-cyan-light-4 !important;
}
.stroke-cyan-light-5 {
    stroke: $custom-color-cyan-light-5 !important;
}


//----------------------------- Orange -----------------------------//
.stroke-orange-dark-4 {
    stroke: $custom-color-orange-dark-4 !important;
}
.stroke-orange-dark-3 {
    stroke: $custom-color-orange-dark-3 !important;
}
.stroke-orange-dark-2 {
    stroke: $custom-color-orange-dark-2 !important;
}
.stroke-orange-dark-1 {
    stroke: $custom-color-orange-dark-1 !important;
}
.stroke-orange-medium {
    stroke: $custom-color-orange-medium !important;
}
.stroke-orange-light-1 {
    stroke: $custom-color-orange-light-1 !important;
}
.stroke-orange-light-2 {
    stroke: $custom-color-orange-light-2 !important;
}
.stroke-orange-light-3 {
    stroke: $custom-color-orange-light-3 !important;
}
.stroke-orange-light-4 {
    stroke: $custom-color-orange-light-4 !important;
}
.stroke-orange-light-5 {
    stroke: $custom-color-orange-light-5 !important;
}


//----------------------------- Purple -----------------------------//
.stroke-purple-dark-4 {
    stroke: $custom-color-purple-dark-4 !important;
}
.stroke-purple-dark-3 {
    stroke: $custom-color-purple-dark-3 !important;
}
.stroke-purple-dark-2 {
    stroke: $custom-color-purple-dark-2 !important;
}
.stroke-purple-dark-1 {
    stroke: $custom-color-purple-dark-1 !important;
}
.stroke-purple-medium {
    stroke: $custom-color-purple-medium !important;
}
.stroke-purple-light-1 {
    stroke: $custom-color-purple-light-1 !important;
}
.stroke-purple-light-2 {
    stroke: $custom-color-purple-light-2 !important;
}
.stroke-purple-light-3 {
    stroke: $custom-color-purple-light-3 !important;
}
.stroke-purple-light-4 {
    stroke: $custom-color-purple-light-4 !important;
}
.stroke-purple-light-5 {
    stroke: $custom-color-purple-light-5 !important;
}


//------------------------------ Green -----------------------------//
.stroke-green-dark-4 {
    stroke: $custom-color-green-dark-4 !important;
}
.stroke-green-dark-3 {
    stroke: $custom-color-green-dark-3 !important;
}
.stroke-green-dark-2 {
    stroke: $custom-color-green-dark-2 !important;
}
.stroke-green-dark-1 {
    stroke: $custom-color-green-dark-1 !important;
}
.stroke-green-medium {
    stroke: $custom-color-green-medium !important;
}
.stroke-green-light-1 {
    stroke: $custom-color-green-light-1 !important;
}
.stroke-green-light-2 {
    stroke: $custom-color-green-light-2 !important;
}
.stroke-green-light-3 {
    stroke: $custom-color-green-light-3 !important;
}
.stroke-green-light-4 {
    stroke: $custom-color-green-light-4 !important;
}
.stroke-green-light-5 {
    stroke: $custom-color-green-light-5 !important;
}


//------------------------------ Pink -----------------------------//
.stroke-pink-dark-4 {
    stroke: $custom-color-pink-dark-4 !important;
}
.stroke-pink-dark-3 {
    stroke: $custom-color-pink-dark-3 !important;
}
.stroke-pink-dark-2 {
    stroke: $custom-color-pink-dark-2 !important;
}
.stroke-pink-dark-1 {
    stroke: $custom-color-pink-dark-1 !important;
}
.stroke-pink-medium {
    stroke: $custom-color-pink-medium !important;
}
.stroke-pink-light-1 {
    stroke: $custom-color-pink-light-1 !important;
}
.stroke-pink-light-2 {
    stroke: $custom-color-pink-light-2 !important;
}
.stroke-pink-light-3 {
    stroke: $custom-color-pink-light-3 !important;
}
.stroke-pink-light-4 {
    stroke: $custom-color-pink-light-4 !important;
}
.stroke-pink-light-5 {
    stroke: $custom-color-pink-light-5 !important;
}


//----------------------------- Yellow ----------------------------//
.stroke-yellow-dark-4 {
    stroke: $custom-color-yellow-dark-4 !important;
}
.stroke-yellow-dark-3 {
    stroke: $custom-color-yellow-dark-3 !important;
}
.stroke-yellow-dark-2 {
    stroke: $custom-color-yellow-dark-2 !important;
}
.stroke-yellow-dark-1 {
    stroke: $custom-color-yellow-dark-1 !important;
}
.stroke-yellow-medium {
    stroke: $custom-color-yellow-medium !important;
}
.stroke-yellow-light-1 {
    stroke: $custom-color-yellow-light-1 !important;
}
.stroke-yellow-light-2 {
    stroke: $custom-color-yellow-light-2 !important;
}
.stroke-yellow-light-3 {
    stroke: $custom-color-yellow-light-3 !important;
}
.stroke-yellow-light-4 {
    stroke: $custom-color-yellow-light-4 !important;
}
.stroke-yellow-light-5 {
    stroke: $custom-color-yellow-light-5 !important;
}


//------------------------------- Gray -----------------------------//
.stroke-gray-dark-4 {
    stroke: $custom-color-gray-dark-4 !important;
}
.stroke-gray-dark-3 {
    stroke: $custom-color-gray-dark-3 !important;
}
.stroke-gray-dark-2 {
    stroke: $custom-color-gray-dark-2 !important;
}
.stroke-gray-dark-1 {
    stroke: $custom-color-gray-dark-1 !important;
}
.stroke-gray-medium {
    stroke: $custom-color-gray-medium !important;
}
.stroke-gray-light-1 {
    stroke: $custom-color-gray-light-1 !important;
}
.stroke-gray-light-2 {
    stroke: $custom-color-gray-light-2 !important;
}
.stroke-gray-light-3 {
    stroke: $custom-color-gray-light-3 !important;
}
.stroke-gray-light-4 {
    stroke: $custom-color-gray-light-4 !important;
}
.stroke-gray-light-5 {
    stroke: $custom-color-gray-light-5 !important;
}


//------------------------- Bootstrap Colors -----------------------//
.stroke-primary {
    stroke: $custom-color-blue-medium !important;
}

.stroke-secondary {
    stroke: $custom-color-gray-medium !important;
}

.stroke-success {
    stroke: $custom-color-green-medium !important;
}

.stroke-danger {
    stroke: $custom-color-red-medium !important;
}

.stroke-warning {
    stroke: $custom-color-yellow-medium !important;
}

.stroke-info {
    stroke: $custom-color-purple-medium !important;
}

.stroke-light {
    stroke: $custom-color-gray-light-5 !important;
}

.stroke-dark {
    stroke: $custom-color-gray-dark-3 !important;
}