//------------------------------ Red Colors ------------------------------//
$custom-color-red-dark-4: #4a0d0e;
$custom-color-red-dark-3: #721f20;
$custom-color-red-dark-2: #8d2e2f;
$custom-color-red-dark-1: #c14748;
$custom-color-red-medium: #d86062;
$custom-color-red-light-1: #ff878a;
$custom-color-red-light-2: #ffabae;
$custom-color-red-light-3: #ffc1c2;
$custom-color-red-light-4: #ffddde;
$custom-color-red-light-5: #ffeaeb;


//----------------------------- Blue Colors ------------------------------//
$custom-color-blue-dark-4: #0f3375;
$custom-color-blue-dark-3: #13459c;
$custom-color-blue-dark-2: #1557c0;
$custom-color-blue-dark-1: #196bde;
$custom-color-blue-medium: #2382f7;
$custom-color-blue-light-1: #4b9cf9;
$custom-color-blue-light-2: #77b6fb;
$custom-color-blue-light-3: #a4cefc;
$custom-color-blue-light-4: #cce4fd;
$custom-color-blue-light-5: #e8f3fe;

//----------------------------- Cyan Colors ------------------------------//
$custom-color-cyan-dark-4: #0a2d27;
$custom-color-cyan-dark-3: #13594e;
$custom-color-cyan-dark-2: #1d8676;
$custom-color-cyan-dark-1: #23a28f;
$custom-color-cyan-medium: #26b29d;
$custom-color-cyan-light-1: #30dfc4;
$custom-color-cyan-light-2: #59e5d0;
$custom-color-cyan-light-3: #83ecdc;
$custom-color-cyan-light-4: #acf2e7;
$custom-color-cyan-light-5: #d6f9f3;


//---------------------------- Orange Colors -----------------------------//
$custom-color-orange-dark-4: #3c2513;
$custom-color-orange-dark-3: #58371c;
$custom-color-orange-dark-2: #7f4d27;
$custom-color-orange-dark-1: #b7723c;
$custom-color-orange-medium: #de8f52;
$custom-color-orange-light-1: #ffb881;
$custom-color-orange-light-2: #ffca9c;
$custom-color-orange-light-3: #ffd6b9;
$custom-color-orange-light-4: #ffeee2;
$custom-color-orange-light-5: #fff8ec;


//---------------------------- Purple Colors -----------------------------//
$custom-color-purple-dark-4: #28113e;
$custom-color-purple-dark-3: #451e68;
$custom-color-purple-dark-2: #5e278e;
$custom-color-purple-dark-1: #7831b7;
$custom-color-purple-medium: #a058e1;
$custom-color-purple-light-1: #c27fff;
$custom-color-purple-light-2: #d09dff;
$custom-color-purple-light-3: #e7c8ff;
$custom-color-purple-light-4: #efdeff;
$custom-color-purple-light-5: #f6eafd;


//----------------------------- Green Colors -----------------------------//
$custom-color-green-dark-4: #15331c;
$custom-color-green-dark-3: #2c6a3b;
$custom-color-green-dark-2: #42a25a;
$custom-color-green-dark-1: #52cc70;
$custom-color-green-medium: #64e584;
$custom-color-green-light-1: #7fff9f;
$custom-color-green-light-2: #abffbf;
$custom-color-green-light-3: #c3ffcf;
$custom-color-green-light-4: #e1ffe9;
$custom-color-green-light-5: #eafff1;


//----------------------------- Pink Colors ------------------------------//
$custom-color-pink-dark-4: #4d1d2c;
$custom-color-pink-dark-3: #602437;
$custom-color-pink-dark-2: #8a2846;
$custom-color-pink-dark-1: #b9375e;
$custom-color-pink-medium: #e05780;
$custom-color-pink-light-1: #ff7aa2;
$custom-color-pink-light-2: #ff9ebb;
$custom-color-pink-light-3: #ffc2d4;
$custom-color-pink-light-4: #ffe0e9;
$custom-color-pink-light-5: #fff0f5;

//---------------------------- Yellow Colors -----------------------------//
$custom-color-yellow-dark-4: #e47200;
$custom-color-yellow-dark-3: #e69b00;
$custom-color-yellow-dark-2: #e6b400;
$custom-color-yellow-dark-1: #e6cc00;
$custom-color-yellow-medium: #e5de00;
$custom-color-yellow-light-1: #e8e337;
$custom-color-yellow-light-2: #ece75f;
$custom-color-yellow-light-3: #f1ee8e;
$custom-color-yellow-light-4: #f7f5bc;
$custom-color-yellow-light-5: #fbfad5;

//----------------------------- Gray Colors ------------------------------//
$custom-color-gray-dark-4: #212529;
$custom-color-gray-dark-3: #343a40;
$custom-color-gray-dark-2: #495057;
$custom-color-gray-dark-1: #6c757d;
$custom-color-gray-medium: #899199;
$custom-color-gray-light-1: #a6aeb5;
$custom-color-gray-light-2: #bec4ca;
$custom-color-gray-light-3: #d5d6de;
$custom-color-gray-light-4: #e3e4ea;
$custom-color-gray-light-5: #f7f9fa;


//-------------------------- Navy Blue Colors ----------------------------//
$custom-color-navy-blue-dark-4: #00111c;
$custom-color-navy-blue-dark-3: #001523;
$custom-color-navy-blue-dark-2: #001a2c;
$custom-color-navy-blue-dark-1: #002137;
$custom-color-navy-blue-medium: #00253e;
$custom-color-navy-blue-light-1: #002945;
$custom-color-navy-blue-light-2: #002e4e;
$custom-color-navy-blue-light-3: #003356;
$custom-color-navy-blue-light-4: #003a61;
$custom-color-navy-blue-light-5: #00406c;



$colorNames: 'red', 'blue', 'cyan', 'orange', 'purple', 'green', 'pink', 'yellow', 'gray';
$colorWeights: 'dark-4', 'dark-3', 'dark-2', 'dark-1', 'medium', 'light-1', 'light-2', 'light-3', 'light-4', 'light-5';



$colors: (
        "red-dark-4": $custom-color-red-dark-4,
        "red-dark-3": $custom-color-red-dark-3,
        "red-dark-2": $custom-color-red-dark-2,
        "red-dark-1": $custom-color-red-dark-1,
        "red-medium": $custom-color-red-medium,
        "red-light-1": $custom-color-red-light-1,
        "red-light-2": $custom-color-red-light-2,
        "red-light-3": $custom-color-red-light-3,
        "red-light-4": $custom-color-red-light-4,
        "red-light-5": $custom-color-red-light-5,

        "blue-dark-4": $custom-color-blue-dark-4,
        "blue-dark-3": $custom-color-blue-dark-3,
        "blue-dark-2": $custom-color-blue-dark-2,
        "blue-dark-1": $custom-color-blue-dark-1,
        "blue-medium": $custom-color-blue-medium,
        "blue-light-1": $custom-color-blue-light-1,
        "blue-light-2": $custom-color-blue-light-2,
        "blue-light-3": $custom-color-blue-light-3,
        "blue-light-4": $custom-color-blue-light-4,
        "blue-light-5": $custom-color-blue-light-5,

        "cyan-dark-4": $custom-color-cyan-dark-4,
        "cyan-dark-3": $custom-color-cyan-dark-3,
        "cyan-dark-2": $custom-color-cyan-dark-2,
        "cyan-dark-1": $custom-color-cyan-dark-1,
        "cyan-medium": $custom-color-cyan-medium,
        "cyan-light-1": $custom-color-cyan-light-1,
        "cyan-light-2": $custom-color-cyan-light-2,
        "cyan-light-3": $custom-color-cyan-light-3,
        "cyan-light-4": $custom-color-cyan-light-4,
        "cyan-light-5": $custom-color-cyan-light-5,

        "orange-dark-4": $custom-color-orange-dark-4,
        "orange-dark-3": $custom-color-orange-dark-3,
        "orange-dark-2": $custom-color-orange-dark-2,
        "orange-dark-1": $custom-color-orange-dark-1,
        "orange-medium": $custom-color-orange-medium,
        "orange-light-1": $custom-color-orange-light-1,
        "orange-light-2": $custom-color-orange-light-2,
        "orange-light-3": $custom-color-orange-light-3,
        "orange-light-4": $custom-color-orange-light-4,
        "orange-light-5": $custom-color-orange-light-5,

        "purple-dark-4": $custom-color-purple-dark-4,
        "purple-dark-3": $custom-color-purple-dark-3,
        "purple-dark-2": $custom-color-purple-dark-2,
        "purple-dark-1": $custom-color-purple-dark-1,
        "purple-medium": $custom-color-purple-medium,
        "purple-light-1": $custom-color-purple-light-1,
        "purple-light-2": $custom-color-purple-light-2,
        "purple-light-3": $custom-color-purple-light-3,
        "purple-light-4": $custom-color-purple-light-4,
        "purple-light-5": $custom-color-purple-light-5,

        "green-dark-4": $custom-color-green-dark-4,
        "green-dark-3": $custom-color-green-dark-3,
        "green-dark-2": $custom-color-green-dark-2,
        "green-dark-1": $custom-color-green-dark-1,
        "green-medium": $custom-color-green-medium,
        "green-light-1": $custom-color-green-light-1,
        "green-light-2": $custom-color-green-light-2,
        "green-light-3": $custom-color-green-light-3,
        "green-light-4": $custom-color-green-light-4,
        "green-light-5": $custom-color-green-light-5,

        "pink-dark-4": $custom-color-pink-dark-4,
        "pink-dark-3": $custom-color-pink-dark-3,
        "pink-dark-2": $custom-color-pink-dark-2,
        "pink-dark-1": $custom-color-pink-dark-1,
        "pink-medium": $custom-color-pink-medium,
        "pink-light-1": $custom-color-pink-light-1,
        "pink-light-2": $custom-color-pink-light-2,
        "pink-light-3": $custom-color-pink-light-3,
        "pink-light-4": $custom-color-pink-light-4,
        "pink-light-5": $custom-color-pink-light-5,

        "yellow-dark-4": $custom-color-yellow-dark-4,
        "yellow-dark-3": $custom-color-yellow-dark-3,
        "yellow-dark-2": $custom-color-yellow-dark-2,
        "yellow-dark-1": $custom-color-yellow-dark-1,
        "yellow-medium": $custom-color-yellow-medium,
        "yellow-light-1": $custom-color-yellow-light-1,
        "yellow-light-2": $custom-color-yellow-light-2,
        "yellow-light-3": $custom-color-yellow-light-3,
        "yellow-light-4": $custom-color-yellow-light-4,
        "yellow-light-5": $custom-color-yellow-light-5,

        "gray-dark-4": $custom-color-gray-dark-4,
        "gray-dark-3": $custom-color-gray-dark-3,
        "gray-dark-2": $custom-color-gray-dark-2,
        "gray-dark-1": $custom-color-gray-dark-1,
        "gray-medium": $custom-color-gray-medium,
        "gray-light-1": $custom-color-gray-light-1,
        "gray-light-2": $custom-color-gray-light-2,
        "gray-light-3": $custom-color-gray-light-3,
        "gray-light-4": $custom-color-gray-light-4,
        "gray-light-5": $custom-color-gray-light-5,


        "black": #000000,
        "white": #ffffff,

        "transparent": transparent,
);